<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>gopher choose</title>
</head>

<body>
    <div class="content">
        <h1>The Great Debate</h1>
        
        <p>After a bit everyone settles down the two people on stage begin having a debate. You don&#39;t recall too many specifics, but for some reason you have a feeling you are supposed to pick sides.<br></p>
        
        <hr class="line">
        <ul>
            
            <li>
            <a href="/sean-kelly">Clearly that man in the fox outfit was the winner.</a>
            </li>
            
            <li>
            <a href="/mark-bates">I don&#39;t think those fake abs would help much in a feat of strength, but our caped friend clearly won this bout. Let&#39;s go congratulate him.</a>
            </li>
            
            <li>
            <a href="/home">Slip out the back before anyone asks us to pick a side.</a>
            </li>
            
        </ul>
    </div>
</body>
</html>