<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css"/>
    <title>gopher choose</title>
</head>

<body>
    <div id="content">
        <h1>Home Sweet Home</h1>
        
        <p>Your little gopher buddy thanks you for taking him on an adventure. Perhaps next year you can look into travelling abroad - you have both heard that gophers are all the rage in China.<br></p>
        
        <hr class="line">
        <ul>
            
        </ul>
    </div>
</body>
</html>