<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>gopher choose</title>
</head>

<body>
    <div class="content">
        <h1>Costume Time</h1>
        
        <p>After talking with the wannabe superhero for a while you come to learn that his name is Mark Bates, and aside from his costume obsession he seems like a nice enough guy.<br></p>
        
        <p>It turns our Mark has been working on this project called Buffalo and he is desperately looking for a mascot. He even purchased a little buffalo outfit, but it is too small for him.<br></p>
        
        <p>After looking over the costume you are certain it won&#39;t fit you, but as luck would have it your gopher companion fit in it perfectly. Mark quickly snapped a few photos, mumbling something about Ashley McNamara designing the best buffalo costume ever.<br></p>
        
        <p>Many great times are had with Mark and pals, but you eventually find yourself on the last night of your stay.<br></p>
        
        <hr class="line">
        <ul>
            
            <li>
            <a href="/home">Pack your bags and head to bed. We have a long flight in the morning.</a>
            </li>
            
        </ul>
    </div>
</body>
</html>