<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>gopher choose</title>
</head>

<body>
    <div class="content">
        <h1>Visiting New York</h1>
        
        <p>Upon arriving in New York you and your furry travel buddy first attempt to hail a cab. Unfortunately nobody wants to give a ride to someone with a &#34;pet&#34;. They kept saying something about shedding, as if gophers shed.<br></p>
        
        <p>Unwilling to accept defeat, you pull out your phone and request a ride using &lt;undisclosed-app&gt;. In a few short minutes a car pulls up and the driver helps you load your luggage. He doesn&#39;t seem thrilled about your travel companion but he doesn&#39;t say anything.<br></p>
        
        <p>The ride to your hotel is fairly uneventful, with the exception of the driver droning on and on about how he barely breaks even driving around the city and how tips are necessary to make a living. After a while it gets pretty old so you slip in some earbuds and listen to your music.<br></p>
        
        <p>After arriving at your hotel you check in and walk to the conference center where GothamGo is being held. The friendly man at the desk helped you get your badge and you hurry in to take a seat.<br></p>
        
        <p>As you head down the aisle you notice a strange man on stage with a mask, cape, and poorly drawn abs on his stomach. Next to him is a man in a... is that a fox outfit? What are these two doing? And what have you gotten yourself into?<br></p>
        
        <hr class="line">
        <ul>
            
            <li>
            <a href="/home">This is getting too weird for me. Let&#39;s bail and head back home.</a>
            </li>
            
            <li>
            <a href="/debate">Maybe people just dress funny in the big city. Grab a a seat and see what happens.</a>
            </li>
            
        </ul>
    </div>
</body>
</html>