<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css"/>
    <title>gopher choose</title>
</head>

<body>
    <div id="content">
        <h1>Exit Stage Left</h1>
        
        <p>As you begin walking up to the fox-man you hear him introduce himself as Sean Kelly. While waiting in line you decide to do a little research to see what types of work Sean is into.<br></p>
        
        <p>A few clicks later and you drop your phone in horror. This guy&#39;s online handle is &#34;StabbyCutyou&#34;. The stories about New York being dangerous were true!<br></p>
        
        <p>Without a thought you grab your gopher buddy and head for the door. &#34;I&#39;ll explain when we get to the hotel&#34; you tell him.<br></p>
        
        <p>After arriving at your hotel you both decide that you have had enough adventure. First thing tomorrow morning you are heading home.<br></p>
        
        <hr class="line">
        <ul>
            
            <li>
            <a href="/home">You change your flight to leave early and head to the airport in the morning.</a>
            </li>
            
        </ul>
    </div>
</body>
</html>